<body>
  
  <!-- Student Form Modal -->
  <div class="modal fade" id="student-form-modal"  data-bs-backdrop="static" tabindex="-1" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Student Form</h5>
          <button type="button" class="btn-close" type="reset" #reset data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
        </div> -->
        <div class="modal-body">
            <app-student-form></app-student-form>
        </div>
      </div>
    </div>
  </div>

  <!-- Instructor Form Modal -->
  <div class="modal fade" id="instructor-form-modal"  data-bs-backdrop="static" tabindex="-1" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Student Form</h5>
          <button type="button" class="btn-close" type="reset" #reset data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
        </div> -->
        <div class="modal-body">
            <app-instructor-form></app-instructor-form>
        </div>
      </div>
    </div>
  </div>

   <!-- Course Form Modal -->
   <div class="modal fade" id="course-form-modal"  data-bs-backdrop="static" tabindex="-1" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Student Form</h5>
          <button type="button" class="btn-close" type="reset" #reset data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
        </div> -->
        <div class="modal-body">
            <app-course-form></app-course-form>
        </div>
      </div>
    </div>
  </div>

  <mat-sidenav-container> 
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">     
      <mat-toolbar class="sidebar-header">       
        <img src="assets/img/icon (13).svg">
      </mat-toolbar>
        
      <mat-divider></mat-divider>
      
      <button mat-button class="mat-sidebar-button" [routerLink]="['/dashboard']" (click)="closeSideBarOver()" [disabled]="nav.isDisabledBtnDashBoard">
        <span class="material-symbols-outlined" >
          dashboard
        </span>
        <p>Dashboard</p>
      </button>
  
      <button mat-button class="mat-sidebar-button" [routerLink]="['/students']" (click)="closeSideBarOver()" [disabled]="nav.isDisabledBtnStudents">
        <span class="material-symbols-outlined">
          school
        </span>  
        <p>Students</p>
      </button>
    
      <button mat-button class="mat-sidebar-button" [routerLink]="['/instructors']" (click)="closeSideBarOver()" [disabled]="nav.isDisabledBtnInstructors">
        <span class="material-symbols-outlined">
          person
        </span>  
        <p>Instructors</p>
      </button>

      <button mat-button class="mat-sidebar-button" [routerLink]="['/courses']" (click)="closeSideBarOver()" [disabled]="nav.isDisabledBtnCourses">
        <span class="material-symbols-outlined">
          menu_book
        </span>  
        <p>Courses</p>
      </button>
  
      <button mat-button class="mat-sidebar-button" (click)="closeSideBarOver()">
        <span class="material-symbols-outlined">
          analytics
        </span>  
        <p>Reports</p>
      </button>
    </mat-sidenav>
  
    <mat-sidenav-content>   
      <mat-toolbar>   
        <button mat-icon-button (click)="sidenav.toggle()">
          <span class="material-symbols-outlined" id="burger-button" >
            menu
          </span>  
        </button>
      </mat-toolbar>

      <router-outlet></router-outlet>
    </mat-sidenav-content> 
  </mat-sidenav-container>
</body>

