<body>
    <div class="container-fluid d-flex pt-3">
        <i class="material-symbols-outlined" (click)="onBack()">
            arrow_back
        </i>
        
        <h3 mat-subheader>Student Overview</h3>
    </div>

    <div class="container-fluid pt-3">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</button>
            <button class="nav-link" id="nav-course-tab" data-bs-toggle="tab" data-bs-target="#nav-course" type="button" role="tab" aria-controls="nav-course" aria-selected="false">Courses</button>
            <button class="nav-link" id="nav-certificate-tab" data-bs-toggle="tab" data-bs-target="#nav-certificate" type="button" role="tab" aria-controls="nav-certificate" aria-selected="false">Certificates</button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <!-- profile -->
            <div class="container-fluid col-md-11 tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <div class="container-fluid d-flex justify-content-between pt-3" >
                    <div class="container-fluid p-0" *ngIf="edit">
                        <h3>Edit Profile</h3> 
                        <button class="btn btn-sm btn-primary" (click)="populateForm(student)">Change profile picture</button>   
                    </div>
                    
                    <div class="container-fluid p-0" *ngIf="!edit">
                        <h3>Profile</h3>
                        <button class="btn btn-sm btn-primary" (click)="populateForm(student)">Edit Profile</button>   
                    </div> 
                    
                    <div class="flex-shrink-0">
                        <img src="assets\img\08.webp" class="card-img-top rounded-full" alt="Student Profile Picture">
                    </div>     
                </div>

                <div class="container-fluid" *ngIf="!edit">
                    <div class="table-responsive">  
                        <table class="table align-middle table-hover">
                            <thead>
                                <th class="col-md-8 col-sm-9"></th>
                            </thead>
                            
                            <tbody>  
                                <tr>
                                    <td>Name:</td>
                                    <th>{{ student.studFirstName}} {{ student.studMiddleName}} {{ student.studLastName}} {{ student.studSuffix}}</th>
                                </tr>
                                <tr>
                                    <td>Gender:</td>
                                    <th>{{ student.studGender }}</th>
                                </tr>
                                <tr>
                                    <td>Birth Date:</td>
                                    <th>{{ dob }}</th>
                                </tr>
                                <tr>
                                    <td>Nationality:</td>
                                    <th>{{student.studNationality}}</th>
                                </tr>
                                <tr>
                                    <td>Marital Status:</td>
                                    <th>{{student.studMaritalStatus}}</th>
                                </tr>
                                <tr>
                                    <td>Address:</td>
                                    <th>{{student.studAddressLine}}, {{student.studBrgy}}, {{student.studCity}}, {{student.studProvince}}, Region {{student.studRegion}}, {{student.studZipCode}}</th>
                                </tr>
                                <tr>
                                    <td>Contact No.:</td>
                                    <th>{{student.studContactNo}}</th>
                                </tr>
                                <tr>
                                    <td>Email Address:</td>
                                    <th>{{ student.studEmail }}</th>
                                </tr>
                                <tr>
                                    <td>Driver's License No.:</td>
                                    <th>{{ student.studDln }}</th>
                                </tr>
                                <tr>
                                    <td>LTO Portal ID:</td>
                                    <th>{{ student.studLtoPortalId }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    
                <form #form="ngForm" (ngSubmit) = "onSubmit(form)" *ngIf="edit" autocomplete="off" class="ps-3 pe-3">
                    <input type="hidden" class="formControl" id="studId"
                        [(ngModel)]="studentService.formData.studId" name="studId">
                    
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label style="font-style: bold;" for="studFirstName"><span>*</span> First Name</label>
                                <input type="text" class="form-control form-control-sm" id="studFirstName"
                                    [(ngModel)] = "studentService.formData.studFirstName"
                                    #studFirstName="ngModel" name="studFirstName" autocomplete="off" required> 
                                <div class="empty-validation" *ngIf="studFirstName.invalid && studFirstName.touched">
                                    <small>This is a required field!</small>   
                                </div>   
                            </div>
                        </div>
                        
                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Middle Name</label>
                                <input type="text" class="form-control form-control-sm" id="studMiddleName"
                                    [(ngModel)] = "studentService.formData.studMiddleName"
                                    #studMiddleName="ngModel" name="studMiddleName" autocomplete="off" required> 
                                <div class="empty-validation" *ngIf="studMiddleName.invalid && studMiddleName.touched">
                                    <small>This is a required field!</small>   
                                </div>   
                            </div>
                        </div>   

                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Last Name</label>
                                <input type="text" class="form-control form-control-sm" id="studLastName"
                                    [(ngModel)] = "studentService.formData.studLastName"
                                    #studLastName="ngModel" name="studLastname" autocomplete="off" required> 
                                <div class="empty-validation" *ngIf="studLastName.invalid && studLastName.touched">
                                    <small>This is a required field!</small>   
                                </div>   
                            </div>
                        </div>   

                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Suffix</label>
                                <input type="text" class="form-control form-control-sm" id="studSuffix"
                                    [(ngModel)] = "studentService.formData.studSuffix"
                                    #studSuffix="ngModel" name="studSuffix" autocomplete="off">
                            </div>
                        </div>   
                        
                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Gender</label>
                                <select class="form-select form-select-sm" id="studGender"
                                    [(ngModel)] = "studentService.formData.studGender"
                                    #studGender="ngModel" name="studGender" required>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>

                                <div class="empty-validation" *ngIf="studGender.invalid && studGender.touched">
                                    <small>This is a required field!</small> 
                                </div>   
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">    
                            <div class="form-group">
                                <label><span>*</span> Date of Birth</label>
                                <input id="birthdate" class="form-control form-control-sm" type="date" id="studDob"
                                    [(ngModel)] = "studentService.formData.studDob"
                                    #studDob="ngModel" name="studDob" required/>

                                <div class="empty-validation" *ngIf="studDob.invalid && studDob.touched">
                                    <small>This is a required field!</small>
                                </div>   
                            </div>
                        </div>
                        
                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Marital Status</label>
                                <select class="form-select form-select-sm" id="studMaritalStatus"
                                [(ngModel)] = "studentService.formData.studMaritalStatus"
                                #studMaritalStatus="ngModel" name="studMaritalStatus" required>
                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                    <option value="Widowed">Widowed</option>
                                </select>

                                <div class="empty-validation" *ngIf="studMaritalStatus.invalid && studMaritalStatus.touched">
                                    <small>This is a required field!</small>
                                </div>   
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Nationality</label>
                                <input type="text" class="form-control form-control-sm" id="studNationality"
                                    [(ngModel)] = "studentService.formData.studNationality"
                                    #studNationality="ngModel" name="studNationality" autocomplete="off" required> 
                                
                                <div class="empty-validation" *ngIf="studNationality.invalid && studNationality.touched">
                                    <small>This is a required field!</small>
                                </div>   
                            </div>
                        </div>
                                        
                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> LTO Portal ID</label>
                                <input type="text" class="form-control form-control-sm" id="studLtoPortalId"
                                    [(ngModel)] = "studentService.formData.studLtoPortalId"
                                    #studLtoPortalId="ngModel" name="studLtoPortalId" autocomplete="off" required> 
                                
                                <div class="empty-validation" *ngIf="studLtoPortalId.invalid && studLtoPortalId.touched">
                                    <small>This is a required field!</small>
                                </div>   
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Driver's License Number</label>
                                <input type="text" class="form-control form-control-sm" id="studDln"
                                    [(ngModel)] = "studentService.formData.studDln"
                                    #studDln="ngModel" name="studDln" autocomplete="off" required> 
                                
                                <div class="empty-validation" *ngIf="studDln.invalid && studDln.touched">
                                    <small>This is a required field!</small>
                                </div>   
                            </div>        
                        </div>
                        
                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Contact Number</label>
                                <input type="text" class="form-control form-control-sm" id="studContactNo"
                                    [(ngModel)] = "studentService.formData.studContactNo"
                                    #studContactNo="ngModel" name="studContactNo" autocomplete="off" required> 
                                
                                <div class="empty-validation" *ngIf="studContactNo.invalid && studContactNo.touched">
                                    <small>This is a required field!</small>
                                </div>   
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Email Address</label>
                                <input type="text" class="form-control form-control-sm" id="studEmail"
                                    [(ngModel)] = "studentService.formData.studEmail"
                                    #studEmail="ngModel" name="studEmail" autocomplete="off" required> 
                               
                                <div class="empty-validation" *ngIf="studEmail.invalid && studEmail.touched">
                                    <small>This is a required field!</small>
                                </div>   
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Region</label>
                                <input type="text" class="form-control form-control-sm" id="studRegion"
                                    [(ngModel)] = "studentService.formData.studRegion"
                                    #studRegion="ngModel" name="studRegion" autocomplete="off" required> 
                                
                                <div class="empty-validation" *ngIf="studRegion.invalid && studRegion.touched">
                                    <small>This is a required field!</small>
                                </div>   
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Province</label>
                                <input type="text" class="form-control form-control-sm" id="studProvince"
                                    [(ngModel)] = "studentService.formData.studProvince"
                                    #studProvince="ngModel" name="studProvince" autocomplete="off" required> 
                                
                                <div class="empty-validation" *ngIf="studProvince.invalid && studProvince.touched">
                                    <small>This is a required field!</small>
                                </div>   
                            </div>
                        </div>
                    
                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> City/Municipality</label>
                                <input type="text" class="form-control form-control-sm" id="studCity"
                                    [(ngModel)] = "studentService.formData.studCity"
                                    #studCity="ngModel" name="studCity" autocomplete="off" required> 
                                
                                <div class="empty-validation" *ngIf="studCity.invalid && studCity.touched">
                                    <small>This is a required field!</small>
                                </div>   
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Barangay</label>
                                <input type="text" class="form-control form-control-sm" id="studBrgy"
                                    [(ngModel)] = "studentService.formData.studBrgy"
                                    #studBrgy="ngModel" name="studBrgy" autocomplete="off" required> 
                                
                                <div class="empty-validation" *ngIf="studBrgy.invalid && studBrgy.touched">
                                    <small>This is a required field!</small>
                                </div>   
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <label><span>*</span> Zip Code</label>
                                <input type="text" class="form-control form-control-sm" id="studZipCode"
                                    [(ngModel)] = "studentService.formData.studZipCode"
                                    #studZipCode="ngModel" name="studZipCode" autocomplete="off" required> 
                                
                                <div class="empty-validation" *ngIf="studZipCode.invalid && studZipCode.touched">
                                    <small>This is a required field!</small>
                                </div>   
                            </div>            
                        </div>
                    
                        <div class="form-group  mt-3">
                            <label><span>*</span> Address Line</label>
                            <input type="text" class="form-control form-control-sm" id="studAddressLine"
                                [(ngModel)] = "studentService.formData.studAddressLine"
                                #studAddressLine="ngModel" name="studAddressLine" autocomplete="off" required> 
                            
                            <div class="empty-validation" *ngIf="studAddressLine.invalid && studAddressLine.touched">
                                <small>This is a required field!</small>
                            </div>   
                        </div>

                        <div class="mb-3 mt-3">
                            <label for="formFileSm" class="form-label">Upload Attachment</label>
                            <input class="form-control form-control-sm" id="formFileSm" type="file">
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-md mb-3" style="margin-right: 10px" [disabled]="form.invalid" data-bs-dismiss="modal">Save</button>
                        <button (click)="onReset()" class="btn btn-danger mb-3" type="reset" #reset data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade" id="nav-course" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-course-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="nav-certificate" role="tabpanel" aria-labelledby="nav-certificate-tab" tabindex="0">...</div>
        </div>
    </div>
</body>
